# MSP: Data Preprocessing

In [1]:
import numpy as np
import pandas as pd

### Data Preprocessing: Approach

+ Collecting mobile sales data
+ Prepare data: including preprocessing features like Memory and Storage
+ Transform new sales data

## Data Collection

In [2]:
# load mobile sales dataset
mobile_df = pd.read_csv("mobile_sales.csv")
mobile_df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,NaN,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [3]:
# study the dataset
mobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3114 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brands               3114 non-null   object
 1   Models               3114 non-null   object
 2   Colors               3114 non-null   object
 3   Memory               3071 non-null   object
 4   Storage              3075 non-null   object
 5   Camera               3114 non-null   object
 6   Rating               2970 non-null   float64
 7   Selling Price        3114 non-null   int64
 8   Original Price       3114 non-null   int64
 9   Mobile               3114 non-null   object
 10  Discount             3114 non-null   int64
 11  discount percentage  3114 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 292.1+ KB

## Data Preparation

**Approach: Data Preprocessing**

+ Removing nullvalues
+ Removing duplicated rows
+ Discover inconsistencies in data
+ Check for possible white spaces

In [4]:
# create mobile inconsistent dataframe
mobile_incon = pd.DataFrame([], columns=["Nullvalues", "Datatype"])

# check for nullvaies
mobile_incon["Nullvalues"] = mobile_df.isnull().sum().to_frame()
mobile_incon["Datatype"] = mobile_df.dtypes.to_frame()

In [5]:
# remove nullvalies
mobile_incon.transpose()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
Nullvalues,0,0,0,43,39,0,144,0,0,0,0,0
Datatype,object,object,object,object,object,object,float64,int64,int64,object,int64,float64

In [6]:
# calculate the mean of a feature
featuren_mean = lambda x: mobile_df[x].mean()

# remove the nullvalues
mobile_df["Storage"] = mobile_df["Storage"].fillna("0 GB")
mobile_df["Memory"] = mobile_df["Memory"].fillna("0 GB")
mobile_df["Rating"] = mobile_df["Rating"].fillna(featuren_mean("Rating"))

In [7]:
mobile_df.isnull().sum()

Brands                 0
Models                 0
Colors                 0
Memory                 0
Storage                0
Camera                 0
Rating                 0
Selling Price          0
Original Price         0
Mobile                 0
Discount               0
discount percentage    0
dtype: int64

In [8]:
mobile_df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128 GB,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16 GB,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,0 GB,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64 GB,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64 GB,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [9]:
# display unique values: memory + storage
capacity_features = ["Memory", "Storage"]

for capacity in capacity_features: 
  unique_vals = mobile_df[capacity].unique()
  print(f"{capacity}: {unique_vals}")

Memory: ['8 GB' '2 GB' '4 GB' '4GB' '8 MB' '6 GB' '3 GB' '1.5 GB' '0 GB' '1 GB'
 '2 MB' '512 MB' '12 GB' '768 MB' '10 MB' '32 MB' '4 MB' '16 MB' '64 MB'
 '128 MB' '153 MB' '30 MB' '46 MB' '18 GB' '32 GB' '100 MB' '16 GB']
Storage: ['128 GB' '16 GB' '0 GB' '64 GB' '16 MB' '512 GB' '256 GB' '32 GB' '8 GB'
 '2 MB' '4 GB' 'Expandable Upto 16 GB' '1 TB' '64 MB'
 'Expandable Upto 32 GB' '4 MB' '8 MB' '128 MB' '512 MB' '129 GB' '256 MB'
 '153 MB' '130 GB' '10 MB' '48 MB' '100 MB' '140 MB']

Inconsistent data in Memory + Storage:
+ Storage: MB, GB, TB, Expandable Upto 16 GB, Expandable Upto 16 GB
+ Memory: MB

Modification in units: 
+ Memory: MB
+ Storage: GB

In [10]:
# seperate preprocess incosistency: on expandable memory
mobile_df["Storage"] = mobile_df["Storage"].str.replace('Expandable Upto 16 GB', "16 GB")
mobile_df["Storage"] = mobile_df["Storage"].str.replace('Expandable Upto 32 GB', "32 GB")

In [11]:
mobile_cap = mobile_df[["Memory", "Storage"]]
mobile_cap2 = mobile_df[["Memory", "Storage"]].copy()
mobile_cap3 = mobile_df[["Memory", "Storage"]].copy()

In [12]:
mobile_cap.head()

  Memory Storage
0   8 GB  128 GB
1   2 GB   16 GB
2   2 GB    0 GB
3   4 GB   64 GB
4    4GB   64 GB

**Feature 1: Storage**

In [13]:
mobile_cap["Storage"].value_counts()

Storage
64 GB     774
128 GB    764
32 GB     567
16 GB     334
256 GB    240
8 GB      133
512 GB     67
4 GB       56
2 MB       45
0 GB       39
4 MB       28
16 MB      14
1 TB       14
128 MB     12
8 MB        6
256 MB      3
48 MB       3
64 MB       3
129 GB      3
130 GB      2
512 MB      2
100 MB      2
153 MB      1
10 MB       1
140 MB      1
Name: count, dtype: int64

In [14]:
# algorithm for preprocessing suffixes: Storage
# create constants for preprocessing storage data
mb = mobile_cap["Storage"].str.contains("MB")
gb = mobile_cap["Storage"].str.contains("GB")
tb = mobile_cap["Storage"].str.contains("TB")

# storage data: remove the suffixes: GB, MB
remove_gb = mobile_cap[gb].loc[:,"Storage"].str.replace(" GB", "")
remove_mb = mobile_cap[mb].loc[:,"Storage"].str.replace(" MB", "")
remove_tb = mobile_cap[tb].loc[:,"Storage"].str.replace(" TB", "")

# storage data: preprocess storage data
mobile_cap.loc[:, "Storage_GB"] = remove_gb
mobile_cap.loc[:, "Storage_MB"] = remove_mb
mobile_cap.loc[:, "Storage_TB"] = remove_tb

# remove nullvalues
mobile_cap.loc[:, "Storage_MB"] = mobile_cap["Storage_MB"].fillna("0")
mobile_cap.loc[:, "Storage_GB"] = mobile_cap["Storage_GB"].fillna("0")
mobile_cap.loc[:, "Storage_TB"] = mobile_cap["Storage_TB"].fillna("0")

C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\1325789632.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap.loc[:, "Storage_GB"] = remove_gb
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\1325789632.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap.loc[:, "Storage_MB"] = remove_mb
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\1325789632.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap.loc[:, "Storage_TB"] = remove_tb

In [15]:
# convert storage data into float numeric data
mobile_cap["Storage_GB"] = mobile_cap["Storage_GB"].astype(float)
mobile_cap["Storage_MB"] = mobile_cap["Storage_MB"].astype(float)
mobile_cap["Storage_TB"] = mobile_cap["Storage_TB"].astype(float)

C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\3846425578.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Storage_GB"] = mobile_cap["Storage_GB"].astype(float)
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\3846425578.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Storage_MB"] = mobile_cap["Storage_MB"].astype(float)
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\3846425578.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Storage_TB"] = mobile_cap["Storage_TB"].astype(float)

In [16]:
# storage data: make conversion from MB, TB into GB
mobile_cap["Storage_MB"] = mobile_cap["Storage_MB"].apply(lambda x: x/1000)
mobile_cap["Storage_TB"] = mobile_cap["Storage_TB"].apply(lambda x: x*1000)

# calculate storage data + replace by old storage data
mobile_cap["Storage"] = mobile_cap["Storage_GB"] + mobile_cap["Storage_MB"] + mobile_cap["Storage_TB"]

C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\2846849615.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Storage_MB"] = mobile_cap["Storage_MB"].apply(lambda x: x/1000)
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\2846849615.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Storage_TB"] = mobile_cap["Storage_TB"].apply(lambda x: x*1000)
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\2846849615.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Storage"] = mobile_cap["Storage_GB"] + mobile_cap["Storage_MB"] + mobile_cap["Storage_TB"]

In [17]:
# insert storage data into mobile dataframe
mobile_df["Storage"] = mobile_cap["Storage_GB"] + mobile_cap["Storage_MB"] + mobile_cap["Storage_TB"]

In [18]:
mobile_df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8 GB,128.0,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2 GB,16.0,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2 GB,0.0,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4 GB,64.0,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4GB,64.0,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [21]:
# find zero values in numeric data
mobile_numX = mobile_df.select_dtypes(["float", "int"])
mobile_numX[mobile_numX["Storage"] == 0]
mobile_df["Storage"] = mobile_df["Storage"].replace(0.0, 1.0)

**Feature 2: Memory**

In [22]:
# algorithm for preprocessing suffixes: Storage
# create constants for preprocessing memory data
mb = mobile_cap["Memory"].str.contains("MB")
gb = mobile_cap["Memory"].str.contains("GB")
# tb = mobile_cap["Memory"].str.contains("TB") 

# storage data: remove the suffixes: GB, MB
remove_gb = mobile_cap[gb].loc[:,"Memory"].str.replace("GB", "")
remove_mb = mobile_cap[mb].loc[:,"Memory"].str.replace("MB", "")


# storage data: preprocess storage data
mobile_cap.loc[:, "Memory_GB"] = remove_gb
mobile_cap.loc[:, "Memory_MB"] = remove_mb
mobile_cap.loc[:, "Memory_GB"] = mobile_cap["Memory_GB"].str.strip()
mobile_cap.loc[:, "Memory_MB"] = mobile_cap["Memory_MB"].fillna("0")
mobile_cap.loc[:, "Memory_GB"] = mobile_cap["Memory_GB"].fillna("0")

C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\4288800884.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap.loc[:, "Memory_GB"] = remove_gb
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\4288800884.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap.loc[:, "Memory_MB"] = remove_mb

In [23]:
# convert memory data into float numeric data
mobile_cap["Memory_GB"] = mobile_cap["Memory_GB"].astype(float)
mobile_cap["Memory_MB"] = mobile_cap["Memory_MB"].astype(float)

C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\3568980542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Memory_GB"] = mobile_cap["Memory_GB"].astype(float)
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\3568980542.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Memory_MB"] = mobile_cap["Memory_MB"].astype(float)

In [24]:
# memory data: convert GB to MB
mobile_cap["Memory_GB"] = mobile_cap["Memory_GB"].apply(lambda x: x*1000)
mobile_cap["Memory"] = mobile_cap["Memory_GB"] + mobile_cap["Memory_MB"]

C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\451335194.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Memory_GB"] = mobile_cap["Memory_GB"].apply(lambda x: x*1000)
C:\Users\mian_\AppData\Local\Temp\ipykernel_36684\451335194.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mobile_cap["Memory"] = mobile_cap["Memory_GB"] + mobile_cap["Memory_MB"]

In [25]:
mobile_df["Memory"] = mobile_cap["Memory_GB"] + mobile_cap["Memory_MB"]

In [26]:
mobile_df.head()

,Brands,Models,Colors,Memory,Storage,Camera,Rating,Selling Price,Original Price,Mobile,Discount,discount percentage
0,SAMSUNG,GALAXY M31S,Mirage Black,8000.0,128.0,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.947998
1,Nokia,3.2,Steel,2000.0,16.0,Yes,3.8,10199,10199,Nokia 3.2,0,0.000000
2,realme,C2,Diamond Black,2000.0,1.0,Yes,4.4,6999,7999,realme C2,1000,12.501563
3,Infinix,Note 5,Ice Blue,4000.0,64.0,Yes,4.2,12999,12999,Infinix Note 5,0,0.000000
4,Apple,iPhone 11,Black,4000.0,64.0,Yes,4.6,49900,49900,Apple iPhone 11,0,0.000000

In [27]:
mobile_df.columns

Index(['Brands', 'Models', 'Colors', 'Memory', 'Storage', 'Camera', 'Rating',
       'Selling Price', 'Original Price', 'Mobile', 'Discount',
       'discount percentage'],
      dtype='object')

In [28]:
# rename feature names
mobile_df = mobile_df.rename(columns={
  "Selling Price": "Sale Price",
  "Original Price": "Price",
  "discount percentage": "Discount_perc",
  "Memory": "Memory_MB", 
  "Storage": "Storage_GB" 
})

In [29]:
# round float numbers
mobile_df["Discount_perc"] = np.round(mobile_df["Discount_perc"].values, 2)

In [30]:
mobile_df.head()

,Brands,Models,Colors,Memory_MB,Storage_GB,Camera,Rating,Sale Price,Price,Mobile,Discount,Discount_perc
0,SAMSUNG,GALAXY M31S,Mirage Black,8000.0,128.0,Yes,4.3,19330,20999,SAMSUNG GALAXY M31S,1669,7.95
1,Nokia,3.2,Steel,2000.0,16.0,Yes,3.8,10199,10199,Nokia 3.2,0,0.00
2,realme,C2,Diamond Black,2000.0,1.0,Yes,4.4,6999,7999,realme C2,1000,12.50
3,Infinix,Note 5,Ice Blue,4000.0,64.0,Yes,4.2,12999,12999,Infinix Note 5,0,0.00
4,Apple,iPhone 11,Black,4000.0,64.0,Yes,4.6,49900,49900,Apple iPhone 11,0,0.00

## Data Transformation

In [31]:
# separate categorical and numerical values
categorical = mobile_df.select_dtypes(["object"]).columns
numerical = mobile_df.select_dtypes(["float","int"]).columns

# retrieve values separately
mobile_spec = mobile_df[categorical]
mobile_quant = mobile_df[numerical]

In [32]:
# combine both dataset: mobile specification and mobile quantity
mobile_df = pd.concat([mobile_spec, mobile_quant], axis=1)
mobile_df.head()

,Brands,Models,Colors,Camera,Mobile,Memory_MB,Storage_GB,Rating,Sale Price,Price,Discount,Discount_perc
0,SAMSUNG,GALAXY M31S,Mirage Black,Yes,SAMSUNG GALAXY M31S,8000.0,128.0,4.3,19330,20999,1669,7.95
1,Nokia,3.2,Steel,Yes,Nokia 3.2,2000.0,16.0,3.8,10199,10199,0,0.00
2,realme,C2,Diamond Black,Yes,realme C2,2000.0,1.0,4.4,6999,7999,1000,12.50
3,Infinix,Note 5,Ice Blue,Yes,Infinix Note 5,4000.0,64.0,4.2,12999,12999,0,0.00
4,Apple,iPhone 11,Black,Yes,Apple iPhone 11,4000.0,64.0,4.6,49900,49900,0,0.00

In [33]:
# save dataframe
mobile_df.to_csv("mobile_sales_v2.csv")